@import "../../node_modules/bootstrap/scss/bootstrap";

//VARIABLES
$bg: rgba(0, 0, 0, 0.1);
$formMaxWidth: 450px;

//STYLES
body {
  background-color: $bg;
}

.form-group-md {
    max-width: $formMaxWidth;
}